doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title Document
    link(rel='stylesheet', href='./style.css')
  body
    #app
      .audioplayer(v-for='s in sounddata')
        label {{s.number}}
        audio(controls v-bind:data-num='s.number')
          source(v-bind:src='s.url', type='audio/ogg')
    script(src='./all.js')


